/Diseño_de_interfaces/PrimeraAplicacion/target/
/Desarrollo de interfaces/Netbeans_Jframe/Actividad_1_EltonSaravia/build/
/Desarrollo de interfaces/Netbeans_Jframe/Actividad_1_EltonSaravia/nbproject/private/
/Desarrollo de interfaces/Netbeans_Jframe/Actividad_2_EltonSaravia/target/
